<%= form_for(@remote_user) do |f| %>
      <%= devise_error_messages! %>
      <p><%= f.label :remote_company %><br />
      <%= f.text_field :remote_company %></p>

      <p><%= f.label :email %><br />
      <%= f.email_field :email %></p>
      
      <p><%= f.label :address %> <br/>
      <%= f.text_field :address  %></p>


      <p><%= f.submit "Sign up" %></p>
<% end %>
