<h1> All Users </h1>

<% if user_signed_in? and current_user.admin %>

<h2> Full Users </h2>
<%= will_paginate %>

<ul class="users">
  <%= render @users %>
</ul>

<%= will_paginate %>

<h2> Remote Users </h2>

<%= will_paginate %>

<ul class="remote_users">
  <%= render @remote_users %>
</ul>

<%= will_paginate %>

<% else %>


 <p> You don't have permission to view this page! </p>
<% end %>
