<h3>Register through EventAlerts:</h3>
<% if current_user.nil? and current_company.nil? %>
	<%= form_for("user", :url => user_registration_path) do |f| %>
		<p><%= f.label :full_name %><br />
		<%= f.text_field :name, :class => "text_input" %></p>

		<p><%= f.label :email %><br />
		<%= f.email_field :email %></p>
		
		<p><%= f.label :address %> <br/>
		<%= f.text_field :address  %></p>


		<p><%= f.label :password %><br />
		<%= f.password_field :password %></p>

		<p><%= f.label :confirm_password %><br />
		<%= f.password_field :password_confirmation %></p>
		

		<p><%= f.label :prototype_key %> <br/>
		<%= f.text_field :prototype_key  %></p>

		<p><%= f.submit "Sign up" %></p>
	<% end %>
<% else %>
	<p>Already Signed in!</p>
<% end %>
